<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.login">

    <select id="selectNaverUserData" resultType="com.dchans.api.app.dto.login.AppNaverDto">
        select * from member where login_type = 'NAVER' and social_id = #{id}
    </select>


    <insert id="insertNaverUserData" parameterType="com.dchans.api.app.dto.login.AppNaverDto" >
        insert into member (
            login_type,
            social_id,
            member_name,
            email,
            phone,
            profile_image,
            gender,
            age_range,
            birthday,
            birth_year,
            member_type,
            status,
            emoney,
            point,
            login_count,
            created_at,
            updated_at,
            last_login_at
        )
        values (
           'NAVER',
           #{id},
           #{name},
           #{email},
           #{mobile},
           #{profileImage},
           #{gender},
           #{age},
           #{birthday},
           #{birthYear},
           0,
           0,
           0,
           0,
           1,
           NOW(),
           NOW(),
           NOW()
       )
    </insert>

</mapper>