<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main">

    <select id="selectAllStoreList" resultType="com.dchans.api.app.dto.store.AppStoreDto">
        select s.seq, s.store_code, s.store_name, s.description,
               group_concat(
                       case c.category_code
                           when '0' then '신점'
                           when '1' then '철학관'
                           when '2' then '타로'
                           when '3' then '굿당'
                           when '4' then '기도터'
                           else '사찰'
                           end
                           order by c.category_code
                separator ', '
               ) as categoryName,
               SUBSTRING_INDEX(address, ' ', 2) as address,
               avg(sr.grade) grade,
               count(sr.seq)as reviewCount
        from store s
        cross join (
            select '0' as category_code union all
            select '1' union all select '2' union all
            select '3' union all select '4' union all select '5'
        ) c
        left join store_review sr on s.seq = sr.parent_seq
        where find_in_set(c.category_code, s.category_type) > 0
        group by s.seq, s.store_name, s.description
        order by s.created_at desc
        limit 0,5
    </select>

    <select id="selectNearStoreList" resultType="com.dchans.api.app.dto.store.AppStoreDto">

    </select>

    <select id="selectProductList" resultType="com.dchans.api.app.dto.product.AppProductDto">
        select name, price, ci.image_path
        from shop s inner join common_image ci on s.seq = ci.parent_seq and ci.type = 'shop'
        order by s.created_at desc
        limit 0,5
    </select>

    <select id="selectReviewList" resultType="com.dchans.api.app.dto.review.AppReviewDto">
        select sr.image_path, sr.content
        from store s inner join store_review sr on s.seq = sr.parent_seq
        order by sr.created_at desc
        limit 0,2
    </select>
</mapper>