<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.user">

    <select id="selectAppUserData" resultType="com.dchans.api.app.dto.user.AppUserDto$UserResponseDto">
        select
            seq,
            social_id,
            member_name,
            profile_image,
            birthday,
            birth_year,
            (select ifnull(format(sum(point_amount), 0), 0) from point_history where user_seq = #{seq} and point_type = 0) as point,
            (select count(seq) from coupon_history where user_seq = #{seq}) as coupon,
            gender,
            phone
        from member
        where seq = #{seq}
    </select>
</mapper>