<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.settings.coupon">

    <select id="selectCouponList" parameterType="com.dchans.api.admin.dto.settings.coupon.CouponDto$CouponRequestDto" resultType="com.dchans.api.admin.dto.settings.coupon.CouponDto$CouponResponseDto">
        select coupon_code, coupon_name, coupon_type, format(max_issue_count,0) as maxIssueCount, issue_date,  concat(start_date,'-',end_date) as expireDate, to_char(created_at,'YYYY-MM-DD') as createdAt,
            case when status = '0' then '발급대기'
                when status = '1' then '발급중'
                when status = '2' then '발급중지'
                when status = '3' then '만료'
                else '삭제'
                end statusName,
            case when category = '0' then '신점'
                when category = '1' then '철학관'
                when category = '2' then '타로'
                when category = '3' then '굿당'
                when category = '4' then '기도터'
                else '사찰'
                end categoryName,
            case when coupon_type = '0' then concat(format(discount_value, 0) ,'%')
                else concat(format(discount_value, 0),'원')
                end discountDisplay,
            concat(format(max_discount_amount, 0),'원') as maxDiscountAmount
        from coupon_master
        where 1 = 1
        <if test="startDate != null and startDate != ''">
            and start_date >= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and end_date <![CDATA[<=]]> #{endDate}
        </if>
        <if test="category != null and category != ''">
            and category = #{category}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        order by created_at desc
        limit #{pageSize} offset #{offset}
    </select>

    <select id="selectCouponCount" parameterType="com.dchans.api.admin.dto.settings.coupon.CouponDto$CouponRequestDto" resultType="int">
        select count(*) from coupon_master
        where 1 = 1
        <if test="startDate != null and startDate != ''">
            and start_date >= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and end_date <![CDATA[<=]]> #{endDate}
        </if>
        <if test="category != null and category != ''">
            and category = #{category}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
    </select>


    <select id="selectCouponDetail" parameterType="com.dchans.api.admin.dto.settings.coupon.CouponDto$CouponRequestDto" resultType="com.dchans.api.admin.dto.settings.coupon.CouponDto$CouponResponseDto">
        select coupon_code, coupon_name, category, coupon_type, max_issue_count, issue_date, start_date, end_date, status, to_char(created_at,'YYYY-MM-DD') as createdAt,
               discount_value,
               max_discount_amount,
               min_order_amount
        from coupon_master
        where coupon_code = #{couponCode}
    </select>

    <insert id="upsertCoupon" parameterType="com.dchans.api.admin.dto.settings.coupon.CouponDto$CouponCreateDto" >
        insert into coupon_master (
            category,
            coupon_code,
            coupon_name,
            coupon_type,
            discount_value,
            max_discount_amount,
            max_issue_count,
            min_order_amount,
            start_date,
            end_date,
            status,
            issue_date
        )values(
            #{category},
            <choose>
            <when test="couponCode != null and couponCode != ''">
                #{couponCode}
            </when>
            <otherwise>
                concat('CPN_',date_format(current_timestamp, '%Y%m%d'),lpad((select coalesce(max(seq), 0) + 1 from coupon_master), 4, '0'))
            </otherwise>
        </choose>,
            #{couponName},
            #{couponType},
            #{discountValue},
            #{maxDiscountAmount},
            #{maxIssueCount},
            #{minOrderAmount},
            #{startDate},
            #{endDate},
            #{status},
            #{issueDate}
        )
        on duplicate key update
        category = #{category},
        coupon_name = #{couponName},
        coupon_type = #{couponType},
        discount_value = #{discountValue},
        max_discount_amount = #{maxDiscountAmount},
        max_issue_count = #{maxIssueCount},
        min_order_amount = #{minOrderAmount},
        start_date = #{startDate},
        end_date = #{endDate},
        status = #{status},
        issue_date = #{issueDate}
    </insert>

    <delete id="deleteCoupon">
        delete from coupon_master
        where 1 = 1
        AND coupon_code in
        <foreach collection="couponCodeList" item="couponCode" open="(" close=")" separator=",">
            #{couponCode}
        </foreach>
    </delete>
</mapper>