<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.settings.coupon">

    <select id="selectCouponList" parameterType="com.dchans.api.admin.dto.settings.coupon.CouponDto$CouponRequestDto" resultType="com.dchans.api.admin.dto.settings.coupon.CouponDto$CouponResponseDto">
        select id, coupon_code, coupon_name, category, coupon_type, start_date, end_date, status, to_char(created_at,'YYYY-MM-DD') as createdAt from coupon_master
        where 1 = 1
        <if test="startDate != null and startDate != ''">
            and start_date >= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and end_date <![CDATA[<=]]> #{endDate}
        </if>
        <if test="category != null and category != ''">
            and category = #{category}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        order by created_at desc
        limit #{pageSize} offset #{offset}
    </select>

    <select id="selectCouponCount" parameterType="com.dchans.api.admin.dto.settings.coupon.CouponDto$CouponRequestDto" resultType="int">
        select count(*) from coupon_master
        where 1 = 1
        <if test="startDate != null and startDate != ''">
            and start_date >= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and end_date <![CDATA[<=]]> #{endDate}
        </if>
        <if test="category != null and category != ''">
            and category = #{category}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
    </select>


    <select id="selectCouponDetail" parameterType="com.dchans.api.admin.dto.settings.coupon.CouponDto$CouponRequestDto" resultType="com.dchans.api.admin.dto.settings.coupon.CouponDto$CouponResponseDto">
        select id, coupon_code, coupon_name, category, coupon_type, start_date, end_date, status, to_char(created_at,'YYYY-MM-DD') as createdAt from coupon_master
        where coupon_code = #{couponCode}
    </select>

    <insert id="upsertCoupon" parameterType="com.dchans.api.admin.dto.settings.coupon.CouponDto$CouponCreateDto" >
        insert into coupon_master (
            category,
            coupon_code,
            coupon_name,
            coupon_type,
            discount_value,
            max_discount_amount,
            min_order_amount,
            use_limit_days,
            start_date,
            end_date,
            status
        )values(
            #{category},
            <choose>
            <when test="couponCode != null and couponCode != ''">
                #{couponCode}
            </when>
            <otherwise>
                concat('CPN',date_format(current_timestamp, '%Y%m%d'),lpad((select coalesce(max(id), 0) + 1 from coupon_master), 4, '0'))
            </otherwise>
        </choose>,
            #{couponName},
            #{couponType},
            #{discountValue},
            #{maxDiscountAmount},
            #{minOrderAmount},
            #{useLimitDays},
            #{startDate},
            #{endDate},
            #{status}
        )
        on duplicate key update
        category = #{category},
        coupon_name = #{couponName},
        coupon_type = #{couponType},
        discount_value = #{discountValue},
        max_discount_amount = #{maxDiscountAmount},
        min_order_amount = #{minOrderAmount},
        use_limit_days = #{useLimitDays},
        start_date = #{startDate},
        end_date = #{endDate},
        status = #{status}
    </insert>
</mapper>