<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.event">

    <select id="selectEventList" parameterType="com.dchans.api.admin.dto.event.EventDto$EventRequestDto" resultType="com.dchans.api.admin.dto.event.EventDto$EventResponseDto">
        select seq, event_name,  concat(start_date,'-',end_date) as eventDate, content,
            to_char(created_at,'YYYY-MM-DD') as createdAt
        from event
        order by created_at desc
        limit #{pageSize} offset #{offset}
    </select>

    <select id="selectEventCount" parameterType="com.dchans.api.admin.dto.event.EventDto$EventRequestDto" resultType="int">
        select count(*) from event
    </select>

    <select id="selectEventDetail" parameterType="com.dchans.api.admin.dto.event.EventDto$EventRequestDto" resultType="com.dchans.api.admin.dto.event.EventDto$EventResponseDto">
        select
            seq,
            event_name,
            start_date,
            end_date,
            content
        from event
        where seq = #{seq}
    </select>

    <select id="selectEventImageList" parameterType="com.dchans.api.admin.dto.event.EventDto$EventRequestDto" resultType="String">
        select image_path
        from common_image
        where parent_seq = #{seq}
        and type = 'event'
    </select>

    <delete id="deleteEvent">
        delete from event
        where 1 = 1
        and seq in
        <foreach collection="seqList" item="seq" open="(" close=")" separator=",">
            #{seq}
        </foreach>
    </delete>

    <insert id="insertEvent" parameterType="com.dchans.api.admin.dto.event.EventDto$EventCreateDto" useGeneratedKeys="true" keyProperty="seq">
        insert into event (event_name, start_date, end_date, content)
        values
            (
            #{eventName},
            #{startDate},
            #{endDate},
            #{content}
            )
    </insert>

    <update id="updateEvent" parameterType="com.dchans.api.admin.dto.event.EventDto$EventUpdateDto">
        update event set event_name = #{eventName}, start_date = #{startDate}, end_date = #{endDate}, content = #{content}
        where seq = #{seq}
    </update>

</mapper>