spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
  application:
    name: lmanager
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false
  datasource:
    url: jdbc:mariadb://amita-database-1.ch6q6ewgayea.ap-northeast-2.rds.amazonaws.com/amita?serverTimezone=Asia/Seoul
    username: amita
    password: ENC(3tn2y9PplRZ8FHYz9LmGC1cbRgailHj432TIH5otFFnzO9Rf0IaXOzMEHu9Ed/Bv)
    #password: amita86tg
    driver-class-name: org.mariadb.jdbc.Driver

    # 연결 풀 설정 (HikariCP)
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 300000
      max-lifetime: 1200000
      connection-timeout: 20000
      validation-timeout: 3000
      leak-detection-threshold: 60000
      connection-init-sql: SELECT 1
  servlet:
    multipart:
      max-file-size: 10MB      # 일반적
jwt:
  secret: mySecretKey123!@#SecureTokenForJWTAuthentication2024
  access-token:
    validity: 180  # 1시간
    #validity: 3600  # 1시간
  refresh-token:
    validity: 604800000  # 7일 (7 * 24 * 60 * 60 * 1000)

#mybatis:
#  mapper-locations: classpath:mappers/*_mapper.xml
#  type-aliases-package: com.dchans.api.admin.dto
#  configuration:
#    map-underscore-to-camel-case: true
jasypt:
  encryptor:
    # 환경변수에서 가져오되, 없으면 에러
    password: ${JASYPT_ENCRYPTOR_PASSWORD}

logging:
  level:
    # SQL 실행 로그
    jdbc.sqlonly: DEBUG
    jdbc.sqltiming: DEBUG
    jdbc.audit: DEBUG
    jdbc.resultset: DEBUG

    # MyBatis 상세 로그
    org.apache.ibatis.logging.jdbc: DEBUG

    # 트랜잭션 로그
    org.springframework.transaction: DEBUG