<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banner">

    <select id="selectMainBanner" parameterType="com.dchans.api.admin.dto.event.BannerDto$BannerRequestDto" resultType="com.dchans.api.admin.dto.event.BannerDto$BannerResponseDto">
        select seq, name as mainName, content as mainContent
        from banner
        where seq = 1
        and type = 0
    </select>

    <select id="selectMainBannerImageList" parameterType="com.dchans.api.admin.dto.event.BannerDto$BannerRequestDto" resultType="String">
        select image_path
        from common_image
        where parent_seq = 1
        and type = 'mainBanner'
    </select>

    <select id="selectMainBanner2" parameterType="com.dchans.api.admin.dto.event.BannerDto$BannerRequestDto" resultType="com.dchans.api.admin.dto.event.BannerDto$BannerResponseDto">
        select seq as mainSeq2, name as mainName2, content as mainContent2
        from banner
        where seq = 3
        and type = 2
    </select>

    <select id="selectMainBanner2ImageList" parameterType="com.dchans.api.admin.dto.event.BannerDto$BannerRequestDto" resultType="String">
        select image_path
        from common_image
        where parent_seq = 3
        and type = 'mainBanner2'
    </select>

    <select id="selectSubBanner" parameterType="com.dchans.api.admin.dto.event.BannerDto$BannerRequestDto" resultType="com.dchans.api.admin.dto.event.BannerDto$BannerResponseDto">
        select seq as subSeq, name as subName, content as subContent
        from banner
        where seq = 2
        and type = 1
    </select>

    <select id="selectSubBannerImageList" parameterType="com.dchans.api.admin.dto.event.BannerDto$BannerRequestDto" resultType="String">
        select image_path
        from common_image
        where parent_seq = 2
        and type = 'subBanner'
    </select>


    <insert id="insertBanner" parameterType="com.dchans.api.admin.dto.event.BannerDto$BannerCreateDto" useGeneratedKeys="true" keyProperty="seq">
        insert into event (event_name, start_date, end_date, content)
        values
            (
            #{eventName},
            #{startDate},
            #{endDate},
            #{content}
            )
    </insert>

    <update id="updateBanner" parameterType="com.dchans.api.admin.dto.event.BannerDto$BannerUpdateDto">
        update banner set name = #{name}, content = #{content}
        where seq = #{seq}
        and type = #{type}
    </update>

</mapper>