<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin">

    <select id="selectManagerOne" parameterType="com.dchans.api.admin.dto.login.LoginDto$LoginResponseDto" resultType="com.dchans.api.admin.dto.login.LoginDto$LoginResponseDto">
        select id, name from manager where id = #{id}
    </select>
</mapper>